name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Fixed typo: requirments.txt -> requirements.txt
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest

      - name: Send email on failure
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "❌ CI Tests Failed"
          to: "prukioksi@gmail.com"
          from: "CI Pipeline"
          body: "Testy nie przeszły w workflow CI na branchu master."
  docker-build:
    runs-on: ubuntu-latest
    needs: tests   
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t docker.io/oskarprusinowski/myimage:latest .

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login docker.io -u "${{ secrets.DOCKER_LOGIN }}" --password-stdin

      - name: Push image to Docker Hub
        run: docker push docker.io/oskarprusinowski/myimage:latest
